@media screen and (max-width:1399px) {
    .flats_ipotek {
        left: auto;
        right: -60px;
        top: auto;
        bottom: 50px;
        margin: 0;
    }
}

@media screen and (max-width:1199px) {
    .hd_price {
        bottom: auto;
        top: 328px;
        left: 50%;
        transform: translateX(-50%);
    }

    .b-actime {
    top: 456px;

left: 50%;

transform: translateX(-50%);

margin-left: -125px;
}

    #hd:before {
        height: 90px;
        background: #fff;
        position: fixed;
        z-index: 89;
    }
    #hd .logo {
        left: 0;
        height: 90px;
        padding: 18px 0 0 30px;
        position: fixed;
        z-index: 90;
    }
    #hd .phone {
        right: 90px;
        top: 33px;
        color: #000;
        position: fixed;
        z-index: 90;
    }
    .mobil_nav_btn {
        display: block;
        position: fixed;
        z-index: 90;
    }
    .menu_top {
        display: none;
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        padding-bottom: 200px;
        background: #4dba78;
        z-index: 100;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .menu_top ul {
        position: relative;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }
    .menu_top li {
        float: none;
        margin: 0;
        font-size: 25px;
    }
    .menu_top li+li {
        margin-top: 35px;
    }
    .menu_top .btn {
        display: block;
    }
    .menu_top .close {
        opacity: 1;
        display: block;
    }
    .menu_top.in {
        top: 0;
    }
    #ft {
        height: 104px;
        padding: 43px 30px 0;
        line-height: 1;
    }
    .ft_copy {
        padding-left: 138px;
    }
    .ft_copy img {
        top: -13px;
    }
    .ft_soc {
        margin-top: 0;
    }
    .ft_info {
        right: auto;
        left: 30px;
        top: 69px;
    }

    .container {
        padding: 0 30px;
    }

    .about_adv li {
        margin: 0 20px;
    }
    .block_3 .tab_item {
        padding-right: 30px;
    }
    .map_block #how {
        left: 30px;
        margin: 0;
    }
}

@media screen and (max-width:1023px) {
    h1 {
        left: 40px;
        top: 145px;
    }
    h2,
    .h2 {
        font-size: 60px;
    }

    #hd .container {
        height: 745px;
    }
    .hd_price {
        left: 50%;
        bottom: auto;
        -webkit-transform: translateX(-50%);
        transform: translateXS(-50%);
        width: 708px;
        padding-left: 20px;
        font-size: 46px;
        top: 292px;
    }

    .b-actime {
        top: 472px;
        left: 50%;
        transform: translateX(-50%);
    }

    .b-actime__title {
        display: block;
    }
    .hd_price_ins {
        width: 357px;
        font-size: 40px;
    }
    #ft {
        height: 225px;
        padding: 26px 23px 0;
        text-align: center;
        font-size: 12px;
    }
    .ft_copy {
        float: none;
        padding: 34px 0 0;
        margin-bottom: 9px;
    }
    .ft_copy img {
        left: 50%;
        top: 0;
        margin-left: -59px;
    }
    .ft_soc {
        float: none;
        margin-top: 54px;
    }
    .ft_soc a {
        margin: 0 8px;
    }
    .ft_info {
        position: relative;
        right: auto;
        left: 0;
        top: 0;
        line-height: 20px;
    }

    .form_order_wrap {
        background: #4dba78;
    }
    .form_order_name {
        font-size: 40px;
    }
    .form_order_wrap .close {
        display: none;
    }
    .form_order_wrap .close_1 {
        display: block;
    }

    .about_adv {
        padding: 0 40px;
        margin: 50px 0 80px;
    }
    .about_adv li {
        width: 33.33%;
        height: 90px;
        margin: 0 0 20px;
        padding-left: 100px;
        text-align: left;
        position: relative;
    }
    .about_adv img {
        position: absolute;
        left: 0;
        top: 0;
    }
    .about_adv span {
        margin: 0;
        width: 150px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .block_1 h2+p {
        max-width: 640px;
        margin-bottom: 45px;
    }
    .about_adv_1 .col-md-6 {
        height: auto;
        background-size: auto 500px;
    }
    .about_adv_1_hover {
        position: relative;
        height: 500px;
        padding-top: 140px;
        opacity: 1;
    }
    .about_adv_1_hover_text {
        display: none;
    }
    .about_adv_1_sm_text {
        display: block;
    }
    .block_2 {
        padding-top: 30px;
    }
    .flats_list {
        margin-top: 67px;
        padding-bottom: 60px;
    }
    .flats_list_item {
        width: 50%;
        margin: 0 0 83px !important;
    }
    .flats_list_item:nth-child(1) .flats_list_img,
    .flats_list_item:nth-child(2) .flats_list_img {
        height: 176px;
        line-height: 176px;
    }
    .flats_list_item.last .flats_list_img {
        height: 246px;
        line-height: 246px;
    }
    .flats_info {
        background-image: url(../img/bg_text_mobile.jpg);
        padding: 135px 0 220px;
    }
    .flats_info_1 {
        height: 800px;
    }
    .flats_ipotek {
        right: -30px;
        top: 30px;
        bottom: auto;
        width: 639px;
        padding-left: 33px;
    }
    .flats_ipotek_ins {
        width: 335px;
    }
    .block_3 {
        padding-top: 44px;
    }
    .block_3 h3 {
        margin-bottom: 11px;
    }
    .block_3 .tab_item {
        width: 50%;
    }
    .block_3 .tab_item:nth-child(3) {
        display: none;
    }
    .block_3 .view_all {
        margin-bottom: 60px;
    }
    .block_3 .swiper-container {
        margin-top: 10px;
    }
    .block_3 .swiper-slide img {
        height: 432px;
    }
    .block_3 .swiper-button-next {
        right: 0;
        background: url(../img/bg_shadow_sl_right.png) right top repeat-y;
    }
    .block_3 .swiper-button-next:before {
        left: auto;
        right: 20px;
    }
    .block_3 .swiper-button-prev {
        left: 0;
        background: url(../img/bg_shadow_sl_left.png) left top repeat-y;
    }
    .block_3 .swiper-button-prev:before {
        left: 20px;
        right: auto;
    }
    .map_block {
        min-height: 0;
        overflow: hidden;
    }
    .map_block:before {
        display: none;
    }
    .map_block .nav {
        display: block;
        border: none;
    }
    .map_block .nav-tabs>li {
        width: 50%;
        text-align: center;
    }
    .map_block .nav-tabs>li>a {
        margin: 0;
        padding: 0;
        height: 40px;
        line-height: 40px;
    }
    .map_block .nav-tabs>li.active>a,
    .map_block .nav-tabs>li.active>a:hover,
    .map_block .nav-tabs>li.active>a:focus {
        border: none;
        border-radius: 0;
        font-weight: normal;
        font-size: 17px;
        background: -moz-linear-gradient(top, #43a96a 0%, #047e5a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #43a96a 0%, #047e5a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #43a96a 0%, #047e5a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #fff;
    }
    .map_block #map {
        height: 400px;
    }
    .map_block #how {
        display: none;
        position: relative;
        left: 0;
        bottom: 0;
        margin-left: 0;
        width: auto;
    }
    .map_block #how.active {
        display: block;
    }
    .map_block a[aria-expanded="true"] {
        background: #f4f3f1;
        color: #000;
    }
    .map_block a[aria-expanded="true"]:after {
        background-color: #f4f3f1;
        background-image: url(../img/icon_close_green.png);
    }
    .map_block .panel:nth-child(even) a[aria-expanded="true"] {
        background: #fff;
    }
    .map_block .panel:nth-child(even) a[aria-expanded="true"]:after {
        background-color: #fff;
    }
    .map_block .panel-body {
        background: #f4f3f1;
        color: #000;
    }
    .map_block .panel:nth-child(even) .panel-body {
        background: #fff;
    }
    .map_block .panel_scroll {
        max-height: none;
    }
    .view_map {
        display: inline-block;
    }
}

@media screen and (max-width:767px) {
    input[type=submit],
    input[type=button] {
        width: 274px;
    }

    h1 {
        left: 13px;
        top: 116px;
        font-size: 30px;
    }
    h1 .small {
        margin: 0 0 1px 38px;
        font-size: 13px;
    }
    h2 {
        font-size: 40px;
    }
    .h2 {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .h2 .small {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        padding: 0 20px;
    }

    #hd:before {
        height: 70px;
    }
    #hd .container {
        height: 568px;
    }
    #hd .logo {
        left: 81px;
        height: 70px;
        padding: 14px 0 0 0;
    }
    #hd .logo img {
        width: 159px;
    }
    #hd .phone {
        right: 20px;
        top: 21px;
        font-size: 0;
        line-height: 0;
        background: url(../img/icon_phone.png) center no-repeat;
        width: 30px;
        height: 29px;
    }
    #hd .phone .small {
        font-size: 0;
        line-height: 0;
    }
    .mobil_nav_btn {
        right: auto;
        left: 23px;
        top: 22px;
        width: 30px;
        height: 26px;
    }
    .mobil_nav_btn:before {
        top: 7px;
    }
    .menu_top {
        padding-bottom: 140px;
    }
    .menu_top li {
        font-size: 18px;
    }
    .menu_top li+li {
        margin-top: 22px;
    }
    .menu_top .btn {
        bottom: 38px;
    }
    .menu_top .close {
        right: auto;
        left: 23px;
        top: 20px;
    }
    .hd_price {
        width: 300px;
        height: 80px;
        font-size: 36px;
        line-height: 70px;
        top: 186px;
        white-space: nowrap;
        text-align: center;
        padding: 0;
    }

    .b-actime {
        display: inline-block;
        position: absolute;
        top: 353px;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
    }

    .b-actime__tip {
        font-size: 18px;
    }

    .hd_price_ins {
        top: 70px;
        width: 220px;
        height: 86px;
        font-size: 28px;
    }
    .hd_price_ins_1 {
        position: absolute;
        left: 20px;
        top: 12px;
    }
    .hd_price_ins_2 {
        position: absolute;
        left: 149px;
        top: 12px;
    }
    .hd_price_ins_3 {
        position: absolute;
        left: 149px;
        top: 39px;
    }
    .hd_price_ins_4 {
        left: 52px;
        top: 4px;
        width: 89px;
        font-size: 64px;
    }

    .container {
        padding: 0 23px;
    }
    .btn {
        width: 274px;
    }

    .form_order {
        max-width: 320px;
        padding: 65px 23px;
    }
    .form_order_name {
        font-size: 22px;
    }
    .form_order .row.captcha {
        margin: -5px -14px 30px;
    }
    .form_order_wrap .close_1 {
        right: auto;
        left: 23px;
        top: 20px;
    }

    .about_adv {
        margin: 30px 0 57px;
    }
    .about_adv li {
        width: 100%;
        margin: 0 0 10px;
        padding-left: 110px;
    }
    .about_adv span {
        width: 100px;
    }
    .block_1 h2+p {
        padding: 0 23px;
        margin-bottom: 30px;
    }
    .about_adv_1 .col-md-6 {
        background-size: auto 370px;
    }
    .about_adv_1_hover {
        height: 370px;
        padding: 105px 30px 0;
        font-size: 23px;
        line-height: 1.2;
    }
    .about_adv_1_hover img {
        height: 97px;
        margin-bottom: 23px;
    }
    .about_adv_1_sm_text {
        padding: 20px 23px 40px;
    }
    .block_2 {
        padding-top: 18px;
    }
    .flats_list {
        margin-top: 52px;
        padding-bottom: 15px;
    }
    .flats_list_item {
        width: 100%;
        margin: 0 0 73px !important;
    }
    .flats_list_item:nth-child(1) .flats_list_img,
    .flats_list_item:nth-child(2) .flats_list_img {
        height: auto;
        line-height: 1;
    }
    .flats_list_item.last .flats_list_img {
        height: auto;
        line-height: 1;
    }
    .flats_list_img img {
        max-width: 280px;
    }
    .flats_info {
        padding: 60px 0 55px;
    }
    .flats_info p {
        padding: 0 23px;
    }
    .flats_info .btn {
        margin-left: -137px;
    }
    .flats_info_1 {
        height: 533px;
    }
    .flats_ipotek {
        right: 23px;
        top: 23px;
        width: 274px;
        height: 80px;
        padding: 18px 0 0 13px;
        font-size: 23px;
        line-height: 1;
    }
    .flats_ipotek .small_z {
        display: inline-block;
        font-size: 23px;
        margin-left: 0;
    }
    .flats_ipotek_ins {
        top: 57px;
        width: 220px;
        height: 86px;
        font-size: 28px;
    }
    .flats_ipotek_1 {
        left: 28px;
        top: 16px;
    }
    .flats_ipotek_2 {
        left: 68px;
        top: 9px;
        width: auto;
        font-size: 64px;
    }
    .flats_ipotek_2 .small {
        top: 10px;
        margin-left: 14px;
        font-size: 25px;
    }
    .block_3 h3 {
        margin-bottom: 27px;
    }
    .block_3 .tab_item {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .block_3 .swiper-container {
        margin-top: -5px;
        padding-bottom: 33px;
    }
    .block_3 .swiper-slide img {
        height: 180px;
    }
    .block_3 .swiper-button-next {
        right: 0;
        width: 30px;
        background: none;
    }
    .block_3 .swiper-button-next:before {
        left: auto;
        right: 10px;
        width: 10px;
        height: 18px;
        margin-top: -24px;
        background-size: contain;
    }
    .block_3 .swiper-button-prev {
        left: 0;
        width: 30px;
        background: none;
    }
    .block_3 .swiper-button-prev:before {
        left: 10px;
        right: auto;
        width: 10px;
        height: 18px;
        margin-top: -24px;
        background-size: contain;
    }
    .block_3 .swiper-pagination {
        bottom: 7px;
    }
    .block_3 .swiper-pagination-bullet {
        border-color: #349f69;
    }
    .block_3 .swiper-pagination-bullet-active {
        border-color: #f3834c;
    }
    .block_4 {
        padding-top: 40px;
    }
    .block_4 address {
        padding: 0 20px;
        margin: 1px auto 40px;
    }
    .block_4 address .phone {
        display: block;
    }
    .map_block {
        margin-top: 35px;
    }
    .map_block .panel-title {
        font-size: 14px;
    }
    .map_block a[aria-expanded="true"] {
        font-size: 14px;
        line-height: 40px;
    }
}

@media screen and (max-width:767px) and (max-height:400px) {
    .menu_top {
        padding-bottom: 90px;
    }
    .menu_top .btn {
        bottom: 20px;
    }
}

@media screen and (max-height:735px) {
    .form_order {
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}