@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLight.woff') format('woff'),
    url('../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueMedium.eot');
    src: url('../fonts/HelveticaNeueMedium.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueMedium.woff') format('woff'),
    url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueBold.eot');
    src: url('../fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
    url('../fonts/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GeometriaHeavy';
    src: url('../fonts/GeometriaHeavy.eot');
    src: url('../fonts/GeometriaHeavy.eot') format('embedded-opentype'),
    url('../fonts/GeometriaHeavy.woff') format('woff'),
    url('../fonts/GeometriaHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #f47d33;
    text-decoration: underline;
}

ul li {
    list-style: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
ul,
ol {
    margin: 0;
    padding: 0;
}








/*input, textarea { outline:none; color:#3a507a; width:90%; background:none; border:none; border-bottom:2px solid #d8dce4;}

    input:focus, input.active { border-color:#3a507a;}
    input.error { border-color:#e62646;}
    .error_text { font-size:13px; line-height:20px; color:#e62646;}

    input[type=submit]:active, input[type=button]:active { background:#c0cce6; color:#3a507a; box-shadow:0 14px 68px rgba(0,0,1,0.34);}*/

.form-input {
    outline: none;
    max-width: 400px;
    width: 100%;
    height: 41px;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}

.form-input.error {
    border-color: #E9040F;
    /*color: #E9040F;*/
}

textarea.form-input {
    line-height: normal;
    resize: none;
    line-height: normal;
    height: auto;
}

.form-input~label {
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}

.form-input.error~label {
    color: #E9040F;
}

.form-input:focus~label,
.form-input.active~label {
    top: -15px;
    font-size: 14px;
}

input[type=submit],
input[type=button] {
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    padding: 0;
    border: none;
    background: #ff7500;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type=submit]:hover,
input[type=button]:hover {
    background: #ffba00;
    color: #fff;
}

h1 {
    position: absolute;
    left: 15px;
    top: 174px;
    font: 300 69px/1 'HelveticaNeue';
    color: #000;
    letter-spacing: 0.025em;
}

h1 .small {
    display: block;
    margin: 0 0 3px 80px;
    font-size: 30px;
    color: #000;
    letter-spacing: 0.01em;
}

h2 {
    font: 300 69px/1 'HelveticaNeue';
    color: #000;
    letter-spacing: 0.025em;
    margin: 0 0 21px;
    position: relative;
}

.h2 {
    font: 300 69px/1 'HelveticaNeue';
    letter-spacing: 0.025em;
    margin: 0 0 45px;
}

.h2 .small {
    display: block;
    margin: 0 0 3px;
    font-size: 30px;
    color: #fff;
    letter-spacing: 0.01em;
}

h3 {
    font: 300 40px/66px 'HelveticaNeue';
    letter-spacing: 0.025em;
    margin: 0 0 21px;
    position: relative;
}








/*h4 { margin-bottom:20px;}*/

b {
    font-weight: 700;
}

html,
body {
    height: 100%;
    font: 17px/30px 'HelveticaNeue';
    color: #000;
}

html {
    min-width: 320px;
    min-height: 1000px;
}

body {
    min-height: 100%;
    background: #fff;
}

#bd {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#hd {
    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

#hd:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 174px;
    background: url(../img/bg_hd_top_shadow.png) left top repeat-x;
}








/*#hd:after { content:''; position:absolute; left:0; bottom:0; width:100%; height:588px; background:url(../img/bg_hd_bottom_shadow.png) left top repeat-x; opacity:0.45;}*/

#hd .container {
    height: 840px;
}

#hd .logo {
    position: absolute;
    left: -35px;
    top: 0;
    width: 267px;
    height: 100px;
    padding: 24px 0 0 35px;
    background: #fff;
    z-index: 2;
}

#hd .phone {
    position: absolute;
    right: 0;
    top: 36px;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.01em;
    z-index: 2;
}

#hd .phone .small {
    font-size: 14px;
}

.hd_price {
    position: absolute;
    left: 0;
    top: 346px;

    width: 700px;
    height: 118px;
    padding-left: 45px;
    font-weight: 300;
    font-size: 60px;
    line-height: 118px;
    color: #fff;
    letter-spacing: 0.025em;
    background: linear-gradient(to bottom, #FE696B, #E32222 );
    z-index: 2;
}


.b-actime{
    top: 470px;
}
.hd_price-big{
    font-weight: 700;
    font-size: 1.3em;
}

.hd_price_ins {
    position: absolute;
    right: 0;
    top: 45px;
    padding: 16px 24px;
    background: #fff;
    font-size: 36px;
    line-height: 1;
    color: #000;
    text-align: center;
}

.hd_price_ins_1 {
    position: absolute;
    left: 45px;
    top: 12px;
}

.hd_price_ins_2 {
    position: absolute;
    left: 247px;
    top: 12px;
}

.hd_price_ins_3 {
    position: absolute;
    left: 247px;
    top: 55px;
}

.hd_price_ins_4 {
    position: absolute;
    left: 105px;
    top: 2px;
    width: 135px;
    text-align: center;
    font: 101px/1 'GeometriaHeavy';
    letter-spacing: 0.01em;
}

.menu_top {
    position: absolute;
    left: 277px;
    top: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.025em;
    display: block;
    z-index: 2;
}

.menu_top li {
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
}

.menu_top a {
    color: #fff;
    text-decoration: none;
}

.menu_top .close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: url(../img/icon_close_big.png) center no-repeat;
    display: none;
}

.menu_top .btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

.mobil_nav_btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 32px;
    height: 30px;
    border: none;
    border-top: 4px solid #309d66;
    border-bottom: 4px solid #309d66;
    display: none;
    background: none;
}

.mobil_nav_btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 4px;
    background: #309d66;
}

#ft {
    height: 83px;
    padding: 0 70px;
    line-height: 83px;
    font-size: 12px;
    position: relative;
}

.ft_copy {
    float: left;
    padding-left: 148px;
    position: relative;
}

.ft_copy img {
    position: absolute;
    left: 0;
    top: 21px;
}

.ft_soc {
    float: right;
    margin-top: 34px;
    font-size: 0;
    line-height: 0;
}

.ft_soc a {
    display: inline-block;
    margin-left: 19px;
    height: 16px;
    position: relative;
}

.ft_soc span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo_soc.svg);
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ft_soc_ins {
    width: 16px;
}

.ft_soc_ins span {
    background-position: left top;
}

.ft_soc_vk {
    width: 19px;
}

.ft_soc_vk span {
    background-position: -36px top;
}

.ft_soc_tw {
    width: 22px;
}

.ft_soc_tw span {
    background-position: -73px top;
}

.ft_soc_fb {
    width: 9px;
}

.ft_soc_fb span {
    background-position: -111px top;
}

.ft_soc_yt {
    width: 22px;
}

.ft_soc_yt span {
    background-position: -140px top;
}

.ft_soc a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo_soc.svg);
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ft_soc_ins:before {
    width: 16px;
    background-position: left bottom;
}

.ft_soc_vk:before {
    width: 19px;
    background-position: -36px bottom;
}

.ft_soc_tw:before {
    width: 22px;
    background-position: -73px bottom;
}

.ft_soc_fb:before {
    width: 9px;
    background-position: -111px bottom;
}

.ft_soc_yt:before {
    width: 22px;
    background-position: -140px bottom;
}

.ft_soc a:hover span {
    opacity: 0;
}

.ft_soc a:hover:before {
    opacity: 1;
}

.ft_info {
    position: absolute;
    right: 300px;
    top: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.row {
    position: relative;
}

.row p {
    margin: 0;
}

.row p+p {
    margin-top: 27px;
}

.btn {
    display: block;
    width: 290px;
    height: 60px;
    padding: 0;
    background: #ff7500;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #ffba00;
    color: #fff;
}

.form_order_wrap {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.form_order {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 500px;
    margin: 0 auto;
    padding: 45px 50px;
    background: #4dba78;
    color: #fff;
}

.form_order_name {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 60px;
}

.form_order .row {
    margin: 0 0 55px;
}

.form_order .row.captcha {
    width: 302px;
    margin: -5px auto 30px;
}

.form_order .row.button {
    margin-bottom: 25px;
}

.form_order_info {
    font-size: 14px;
    line-height: 1.2;
}

.form_order_info p+p {
    font-size: 12px;
    margin-top: 11px;
}

.form_order_info a {
    color: #fff;
    text-decoration: underline;
}

.form_order_info a:hover {
    text-decoration: none;
}

.form_order_wrap .close {
    position: absolute;
    right: 14px;
    top: 14px;
    background: url(../img/icon_close.png) center no-repeat;
    width: 13px;
    height: 13px;
    opacity: 1;
}

.form_order_wrap .close_1 {
    position: absolute;
    right: 30px;
    top: 30px;
    background: url(../img/icon_close_big.png) center no-repeat;
    width: 30px;
    height: 30px;
    opacity: 1;
    display: none;
}

.form_order_wrap.in {
    top: 0;
}

.block_1 {
    text-align: center;
    position: relative;
    z-index: 1;
}

.block_1 h2+p {
    max-width: 720px;
    margin: 0 auto 120px;
}

.about_adv {
    font-size: 0;
    line-height: 0;
    max-width: 1000px;
    margin: -45px auto 150px;
}



.about_adv li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: calc(100% / 6);
    white-space: normal;
}

.about_adv span {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 28px auto 0;
}

.about_adv_item_1 span {
    width: 110px;
}

.about_adv_item_2 span {
    width: 110px;
}

.about_adv_item_3 span {
    width: 148px;
}

.about_adv_item_4 span {
    width: 105px;
}

.about_adv_item_5 span {
    width: 90px;
}

.about_adv_item_6 span {
    width: 155px;
}

.about_adv_1 {}

.about_adv_1 .col-md-6 {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_adv_1_item_1 {
    background-image: url(../img/img_1.png);
    background-position: right top;
}

.about_adv_1_item_2 {
    background-image: url(../img/img_2.png);
    background-position: left top;
}

.about_adv_1_hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
    background: rgba(42, 58, 75, 0.5);
    text-align: center;
    padding-top: 240px;
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about_adv_1_hover img {
    margin-bottom: 39px;
}

.about_adv_1_hover_text {
    max-width: 310px;
    margin: 28px auto 0;
    font-weight: normal;
    font-size: 17px;
}

.about_adv_1_hover:hover {
    opacity: 1;
}

.about_adv_1_sm_text {
    padding: 50px 60px 40px;
    display: none;
}

.block_2 {
    padding: 103px 0 0;
    text-align: center;
}

.flats_list {
    max-width: 1000px;
    margin: 78px auto 0;
    font-size: 0;
    line-height: 0;
}

.flats_list_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 70px 83px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1;
}

.flats_list_name {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.flats_list_img {
    height: 246px;
    line-height: 246px;
    margin-bottom: 37px;
}

.flats_list_img img {
    vertical-align: middle;
}

.flats_list_square {
    margin-bottom: 20px;
    letter-spacing: 0.025em;
}

.flats_list_price .big {
    display: inline-block;
    margin: 0 4px;
    font: 30px/1 'GeometriaHeavy';
}

.flats_list_item.last {
    margin-right: 103px;
}

.flats_list_item.last+.flats_list_item.last {
    margin-right: 0;
    margin-left: 103px;
}

.flats_list_item.last .flats_list_img {
    height: auto;
    line-height: 0;
}

.flats_info {
    padding: 95px 0;
    background: url(../img/bg_text.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.flats_info p {
    max-width: 1020px;
    padding: 0 30px;
    margin: 0 auto;
}

.flats_info .btn {
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -145px;
}

.flats_info_1 {
    background: url(../img/bg_ipoteka.jpg) center no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}

.flats_ipotek {
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: 75px;
    width: 700px;
    height: 147px;
    padding: 30px 0 0 45px;
    text-align: left;
    font-weight: 300;
    font-size: 64px;
    line-height: 1;
    color: #fff;
    letter-spacing: 0.025em;
    background: -moz-linear-gradient(top, #43aa6a 0%, #057f5a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #43aa6a 0%, #057f5a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #43aa6a 0%, #057f5a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 2;
}

.flats_ipotek .small_z {
    display: block;
    font-size: 33px;
    margin-left: 22px;
}

.flats_ipotek_ins {
    position: absolute;
    right: 0;
    top: 45px;
    width: 385px;
    height: 118px;
    background: #fff;
    font-size: 45px;
    line-height: 1;
    color: #000;
}

.flats_ipotek_1 {
    position: absolute;
    left: 45px;
    top: 12px;
}

.flats_ipotek_2 {
    position: absolute;
    left: 105px;
    top: 2px;
    width: 135px;
    text-align: center;
    font: 101px/1 'GeometriaHeavy';
    letter-spacing: 0.01em;
}

.flats_ipotek_2 .small {
    position: absolute;
    left: 100%;
    top: 15px;
    margin-left: 22px;
    font-size: 39px;
}

.block_3 {
    padding-top: 74px;
}

.block_3 h3 {
    text-align: center;
}

.block_3 .nav-tabs {
    width: 252px;
    margin: -5px auto 28px;
    border: none;
}

.block_3 .nav-tabs>li>a {
    height: 45px;
    padding: 0 22px 0 30px;
    line-height: 43px;
    border-color: #5bbf82;
    margin-right: -1px;
    border-radius: 22px 0 0 22px;
}

.block_3 .nav-tabs>li+li>a {
    padding: 0 30px 0 22px;
    border-radius: 0 22px 22px 0;
}

.block_3 .nav-tabs>li>a:hover,
.block_3 .nav-tabs>li.active>a,
.block_3 .nav-tabs>li.active>a:hover,
.block_3 .nav-tabs>li.active>a:focus {
    color: #fff;
    background: #5bbf82;
    border: 1px solid #5bbf82;
}

.block_3 .tab-pane {
    font-size: 0;
    line-height: 0;
}

.block_3 .tab_item {
    display: inline-block;
    width: 33.33%;
    padding: 0 60px 0 40px;
    margin-bottom: 40px;
    vertical-align: top;
    background: url(../img/icon_doc.png) left 2px no-repeat;
    font-size: 14px;
    line-height: 20px;
}

.block_3 .tab_item p {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.block_3 .tab_hidden_items {
    display: none;
}

.block_3 .view_all {
    display: block;
    width: 90px;
    margin: 0 auto 80px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dashed #5bbf82;
    color: #5bbf82;
}

.block_3 .view_all:hover {
    border-color: transparent;
}

.block_3 .swiper-container {
    margin-top: 40px;
}

.block_3 .swiper-slide {
    position: relative;
}

.block_3 .swiper-slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 58, 75, 0.7);
}








/*.block_3 .swiper-slide:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../img/bg_shadow_sl_left.png) left top repeat-y rgba(42,58,75,0.7);}
        .block_3 .swiper-slide:after { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../img/bg_shadow_sl_right.png) right top repeat-y; z-index:1;}*/

.block_3 .swiper-slide-active:before
/*, .block_3 .swiper-slide-active:after*/

{
    opacity: 0;
}

.block_3 .swiper-slide img {
    height: 700px;
}

.block_3 .swiper-pagination {
    bottom: 22px;
    height: 20px;
}

.block_3 .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: none;
    border: 2px solid #fff;
    vertical-align: middle;
    opacity: 1;
}

.block_3 .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background: #f3834c;
    border-color: #f3834c;
    position: relative;
    top: 0;
}

.block_3 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.block_3 .swiper-button-next,
.block_3 .swiper-button-prev {
    width: 173px;
    height: 100%;
    background-size: auto;
    margin-top: 0;
    top: 0;
}

.block_3 .swiper-button-next {
    right: calc(25% - 173px);
    background: url(../img/bg_shadow_sl_left.png) right top repeat-y;
}

.block_3 .swiper-button-next:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40px;
    width: 21px;
    height: 36px;
    margin-top: -18px;
    background-image: url(../img/icon_str_r.png);
    z-index: 1;
}

.block_3 .swiper-button-prev {
    left: calc(25% - 173px);
    background: url(../img/bg_shadow_sl_right.png) left top repeat-y;
}

.block_3 .swiper-button-prev:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 21px;
    height: 36px;
    margin-top: -18px;
    background-image: url(../img/icon_str_l.png);
    z-index: 1;
}

.block_3 .swiper-button-disabled {
    opacity: 1;
}

.block_4 {
    padding-top: 34px;
    text-align: center;
}

.block_4 address {
    max-width: 700px;
    margin: -11px auto 20px;
    line-height: 30px;
}

.block_4 .btn {
    margin: 0 auto;
}

.map_block {
    min-height: 500px;
    margin-top: 60px;
    position: relative;
}

#map:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: url(../img/bg_shadow_map.png) left top repeat-x;
    pointer-events: none;
    user-select: none;
}

.map_block .nav {
    display: none;
}

.map_block #how {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 30px;
    width: 410px;
}

.map_block .panel-group,
.map_block .panel+.panel {
    margin: 0;
}

.map_block .panel {
    border-radius: 0;
    background: #f4f3f1;
    box-shadow: none;
    border: none;
    text-align: left;
    font-size: 14px;
}

.map_block .panel:nth-child(even) {
    background: #fff;
}

.map_block .panel:nth-child(even) .panel-heading a:after {
    background-color: #6dcc92;
}

.map_block .panel-heading {
    padding: 0;
    position: relative;
}

.map_block .panel-heading a {
    display: block;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    text-decoration: none;
}

.map_block .panel-heading a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_str_top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4dba78;
}

.map_block a[aria-expanded="true"] {
    background: #4dba78;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
}

.map_block a[aria-expanded="true"]:after {
    background-image: url(../img/icon_close.png)
}

.map_block .panel:nth-child(even) a[aria-expanded="true"] {
    background: #6dcc92;
}

.map_block .panel-body {
    padding: 15px 15px 15px 30px;
    border: none !important;
    font-size: 14px;
    line-height: 20px;
    background: #4dba78;
    color: #fff;
}

.map_block .panel:nth-child(even) .panel-body {
    background: #6dcc92;
}

.map_block .panel_scroll {
    max-height: 160px;
    padding-right: 15px;
    position: relative;
}

#map {
    height: 500px;
}

.view_map {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dashed #5bbf82;
    color: #5bbf82;
    display: none;
}

.view_map:hover {
    border-color: transparent;
}

.Sticker {
    position: absolute;
    display: block;
    right: 30px;
    top: 100px;
    width: 230px;
    text-decoration: none!important;
    line-height: 1;
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 21px;
    outline: none!important;
    filter: drop-shadow(10px 10px 10px rgba(120, 120, 120, 0.5));
    transition: none;
}

.Sticker_inner {
    margin: 0 auto;
    background: url(../img/stickerbg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    padding: 22px 10px 80px 15px;
    color: #fff!important;
}

.Sticker_plate {
    color: #000!important;
    padding: 17px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    font-weight: 700;
    width: 87%;
    background: linear-gradient(to top, #f8af01, #fccc01);
}

.Sticker_plate:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: url(../img/ocular.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.Sticker_pretitle {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 10px;
}

.Sticker_title1 {
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}

.Sticker_title2 {
    font-weight: 700;
    font-style: italic;
    font-size: 26px;
}

.Sticker_text1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: normal;
}

.Sticker_text2 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2px;
    line-height: normal;
}








@media (max-width: 768px) {
    .Sticker {
        width: 274px;
        right: 50%;
        top: 189px;
        margin-right: -138px;
        filter: none;
    }

    .Sticker_title>br {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .Sticker {
        right: 50%;
        margin-right: -352px;
        top: 281px;
        width: 254px;
    }
}



/* НАЧАЛО Таймер акции */

.b-actime__tips-wrap:before,
.b-actime__digits-wrap:before,
.b-actime__tips-wrap:after,
.b-actime__digits-wrap:after {
    content: " ";
    display: table;
}

.b-actime__tips-wrap:after,
.b-actime__digits-wrap:after {
    clear: both;
}

.b-actime {
    display: inline-block;
    position: absolute;
}

.b-actime__title,
.b-actime__timer {

    max-width: 100%;
}

.b-actime__title {

    font-size: 26px;
    padding: 13px 18px 12px;
}

.b-actime__timer {
    text-align: center;
}

.b-actime__tips-wrap {
    padding: 0 0 6px;
}

.b-actime__digits-wrap {
    margin: 0 auto;
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
}

.b-actime__tip {
    float: left;
    width: 33.33333%;
    font-weight: 700;
    font-size: 13px;
}

.b-actime__digit {
    display: inline-block;
    width: 64px;
    font-size: 57px;
    font-weight: 700;
    height: 78px;
    line-height: 77px;
    overflow-y: hidden;
    background: url(/img/plashka.png) center no-repeat;
    background-size: contain;
    color: #424242;
}

.b-actime__digit:nth-child(even) {
    margin-right: 10px;
}

.b-actime__digit:nth-child(6) {
    margin-right: 0!important;
}


/* КОНЕЦ Таймер акции */