/*#bd { background:green;}
.container { background:yellow;}
#ft { background:red;}*/

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro.eot');
    src: url('../fonts/PFDinDisplayPro.eot') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro.woff') format('woff'),
    url('../fonts/PFDinDisplayPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayProMedium.eot');
    src: url('../fonts/PFDinDisplayProMedium.eot') format('embedded-opentype'),
    url('../fonts/PFDinDisplayProMedium.woff') format('woff'),
    url('../fonts/PFDinDisplayProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayProBold.eot');
    src: url('../fonts/PFDinDisplayProBold.eot') format('embedded-opentype'),
    url('../fonts/PFDinDisplayProBold.woff') format('woff'),
    url('../fonts/PFDinDisplayProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

a {
    color: #393744;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #0286c5;
    text-decoration: underline;
}

ul li {
    list-style: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
ul,
ol {
    margin: 0;
    padding: 0;
}

.form-input {
    outline: none;
    max-width: 400px;
    width: 100%;
    height: 41px;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.12s ease;
    -o-transition: all 0.12s ease;
    transition: all 0.12s ease;
}

.form-input.error {
    border-color: #E9040F;
    color: #E9040F;
}

textarea.form-input {
    line-height: normal;
    resize: none;
    line-height: normal;
    height: auto;
}

.form-input~label {
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    -webkit-transition: all 0.12s ease;
    -o-transition: all 0.12s ease;
    transition: all 0.12s ease;
}

.form-input.error~label {
    color: #E9040F;
}

.form-input:focus~label,
.form-input.active~label {
    top: -15px;
    font-size: 14px;
}

input[type=submit],
input[type=button] {
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    padding: 0;
    border: none;
    background: #ffae00;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type=submit]:hover,
input[type=button]:hover {
    background: #febb1a;
    color: #fff;
}

h1 {
    position: absolute;
    left: 0;
    top: 208px;
    width: 100%;
    text-align: center;
    font: 700 70px/1 'PFDinDisplayPro';
    color: #fff;
}

h1 .small {
    display: block;
    margin: 55px 0 0;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.005em;
}

.button-action {
    width: 427px;
    height: 90px;
    background: url('../img/button-background.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 480px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fefefe;
    font-family: PFDinDisplayPro;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.b-actime {
    top: 588px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.button-action:hover {
    color: white !important;
    text-decoration: none !important;
}

h2 {
    font: normal 65px/1 'PFDinDisplayPro';
    margin: 0 0 44px;
}

.h2 {
    font: 700 60px/1 'PFDinDisplayPro';
    text-transform: uppercase;
    margin: 0 0 24px;
}

.h2 .small {
    display: block;
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

h3 {
    font: 300 40px/66px 'PFDinDisplayPro';
    margin: 0 0 21px;
    position: relative;
}





/*h4 { margin-bottom:20px;}*/

b {
    font-weight: 700;
}

html,
body {
    height: 100%;
    font: 17px/30px 'PFDinDisplayPro';
    color: #393744;
}

html {
    min-width: 320px;
    min-height: 1000px;
}

body {
    min-height: 100%;
    background: #fff;
}

#bd {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#hd {
    background: url(../img/bg_1920.png) center no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

#hd:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 174px;
    background: url(../img/bg_hd_top_shadow.png) left top repeat-x;
}

#hd .container {
    height: 900px;
}

#hd .logo {
    position: absolute;
    left: 0;
    top: 34px;
    width: 257px;
    height: 40px;
    background: url(../img/logo_1920.png) center no-repeat;
    background-size: 257px auto;
    z-index: 2;
}

#hd .phone {
    position: absolute;
    right: 0;
    top: 41px;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.01em;
    z-index: 2;
}

#hd .phone .small {
    font-size: 15px;
}

.menu_top {
    position: absolute;
    left: 317px;
    top: 49px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.025em;
    display: block;
    z-index: 2;
}

.menu_top li {
    float: left;
    margin-right: 27px;
    text-transform: uppercase;
}

.menu_top a {
    color: #fff;
    text-decoration: none;
}

.menu_top .close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: url(../img/icon_close_big.png) center no-repeat;
    display: none;
}

.menu_top .btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

.mobil_nav_btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 32px;
    height: 30px;
    border-top: 4px solid #ffb200;
    border-bottom: 4px solid #ffb200;
    display: none;
}

.mobil_nav_btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 4px;
    background: #ffb200;
}

.mobil_nav_btn:hover {
    border-color: #febb1a;
}

.mobil_nav_btn:hover:before {
    background: #febb1a;
}

#ft {
    height: 86px;
    padding: 0 70px;
    line-height: 86px;
    font-size: 12px;
    position: relative;
}

.ft_copy {
    float: left;
    padding-left: 148px;
    text-transform: uppercase;
    position: relative;
}

.ft_copy img {
    position: absolute;
    left: 0;
    top: 22px;
}

.ft_copy_doc {
    display: inline-block;
    margin-left: 40px;
    text-decoration: underline;
}

.ft_soc {
    float: right;
    margin-top: 34px;
    font-size: 0;
    line-height: 0;
}

.ft_soc a {
    display: inline-block;
    margin-left: 19px;
    height: 16px;
    position: relative;
}

.ft_soc span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo_soc.svg);
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ft_soc_ins {
    width: 16px;
}

.ft_soc_ins span {
    background-position: -4px top;
}

.ft_soc_vk {
    width: 19px;
}

.ft_soc_vk span {
    background-position: -39px top;
}

.ft_soc_tw {
    width: 22px;
}

.ft_soc_tw span {
    background-position: -73px top;
}

.ft_soc_fb {
    width: 9px;
}

.ft_soc_fb span {
    background-position: -110px top;
}

.ft_soc_yt {
    width: 22px;
}

.ft_soc_yt span {
    background-position: -136px top;
}

.ft_soc a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo_soc.svg);
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ft_soc_ins:before {
    width: 16px;
    background-position: -4px bottom;
}

.ft_soc_vk:before {
    width: 19px;
    background-position: -39px bottom;
}

.ft_soc_tw:before {
    width: 22px;
    background-position: -73px bottom;
}

.ft_soc_fb:before {
    width: 9px;
    background-position: -110px bottom;
}

.ft_soc_yt:before {
    width: 22px;
    background-position: -136px bottom;
}

.ft_soc a:hover span {
    opacity: 0;
}

.ft_soc a:hover:before {
    opacity: 1;
}

.ft_info {
    position: absolute;
    right: 355px;
    top: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.row {
    position: relative;
}

.row p {
    margin: 0;
}

.row p+p {
    margin-top: 27px;
}

.btn {
    display: block;
    width: 290px;
    height: 60px;
    padding: 0;
    background: #ffae00;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #febb1a;
    color: #fff;
}

.form_order_wrap {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.form_order {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 500px;
    margin: 0 auto;
    padding: 45px 50px;
    background: #0286c5;
    color: #fff;
}

.form_order_name {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 60px;
}

.form_order .row {
    margin: 0 0 55px;
}

.form_order .row.captcha {
    width: 302px;
    margin: -5px auto 30px;
}

.form_order .row.button {
    margin-bottom: 25px;
}

.form_order_info {
    font-size: 14px;
    line-height: 1.2;
}

.form_order_info p+p {
    font-size: 12px;
    margin-top: 11px;
}

.form_order_info a {
    color: #fff;
    text-decoration: underline;
}

.form_order_info a:hover {
    text-decoration: none;
}

.form_order_wrap .close {
    position: absolute;
    right: 14px;
    top: 14px;
    background: url(../img/icon_close.png) center no-repeat;
    width: 13px;
    height: 13px;
    opacity: 1;
}

.form_order_wrap .close_1 {
    position: absolute;
    right: 30px;
    top: 30px;
    background: url(../img/icon_close_big.png) center no-repeat;
    width: 30px;
    height: 30px;
    opacity: 1;
    display: none;
}

.form_order_wrap.in {
    top: 0;
}

.block_1 {
    text-align: center;
    position: relative;
    z-index: 1;
}

.block_1:before {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 0;
    height: 34vw;
    width: 20vw;
    background: url('../img/illustration-1.png') no-repeat center;
    background-size: contain;
    z-index: -1;
}

.block_1:after {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    right: -66px;
    height: 51vw;
    width: 23vw;
    background: url('../img/illustration-2.png') no-repeat center;
    background-size: cover;
    z-index: -1;
}

.block_1:after {}

.block_1 h2+p {
    max-width: 780px;
    margin: 0 auto 70px;
}

.block_1__content h2.h2-action {
    color: #dc182b !important;
    font-family: "PFDinDisplayPro" !important;
    font-size: 45px;
    font-weight: 400 !important;
    line-height: 50px !important;
}


.block_1__content h2 {
    color: #393744;
    font-family: "PFDinDisplayPro";
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.block_1__content h2 br:not(:fist-child) {
    display: none;
}

.block_1__content .text-action {
    color: #393744;
    font-family: "PFDinDisplayPro";
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.text-action:first-of-type {
    margin-bottom: 30px
}

.button-know-more {
    width: 290px;
    height: 60px;
    background-color: #cb192b;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    color: #fefefe !important;
    font-family: PFDinDisplayPro;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    text-decoration: none !important;
    margin-top: 60px;
    margin-bottom: 120px;
}

.about_adv {
    font-size: 0;
    line-height: 0;
    max-width: 1100px;
    margin: 0 auto 175px;
    white-space: nowrap;
    position: relative;
    top: -53px;
}

.about_adv li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: calc(100% / 6);
    white-space: normal;
}

.about_adv span {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    margin: 21px auto 0;
}

.about_adv a {
    text-decoration: none;
    color: #393744;
}

.about_adv img {
    width: 102px;
}

.about_adv_1 {}

.about_adv_1 .col-md-6 {
    height: 700px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_adv_1_item_1 {
    background-image: url(../img/img_1.jpg);
}

.about_adv_1_item_2 {
    background-image: url(../img/img_2.jpg);
}

.about_adv_1_hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
    background: url(../img/img_1_2_hover.png);
    background-size: cover;
    text-align: center;
    padding-top: 290px;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about_adv_1_hover img {
    margin-bottom: 39px;
}

.about_adv_1_hover_text {
    max-width: 690px;
    margin: 28px auto 0;
    padding: 0 20px;
    font-weight: normal;
    font-size: 20px;
}

.about_adv_1_hover:hover {
    opacity: 1;
}

.about_adv_1_sm_text {
    padding: 30px 60px 50px;
    display: none;
}

.block_2 {
    padding: 176px 0 0;
    text-align: center;
}

.flats_list {
    max-width: 1170px;
    margin: 100px auto 0;
    font-size: 0;
    line-height: 0;
}

.flats_list_item {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    margin: 0 0 260px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

.flats_list_name {
    text-transform: uppercase;
    margin-bottom: 11px;
}

.flats_list_img {
    height: 344px;
    line-height: 344px;
    margin-bottom: 33px;
}

.flats_list_img img {
    vertical-align: middle;
}

.flats_list_square {
    margin-bottom: 33px;
    font-weight: normal;
}

.flats_list_price {
    font-weight: bold;
}

.flats_list_price .big {
    display: inline-block;
    margin: 0 4px;
    font-size: 30px;
}

.flats_list_item.last {
    margin-right: 103px;
}

.flats_list_item.last+.flats_list_item.last {
    margin-right: 0;
    margin-left: 103px;
}

.flats_list_item.last .flats_list_img {
    height: auto;
    line-height: 0;
}

.flats_info_plan {
    height: 600px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flats_info_plan .h3-plan {
    font-size: 40px;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    color: #393744;
    text-transform: uppercase;
    line-height: 52px;
    padding-bottom: 20px;
}

.flats_info_plan .h3-plan+p {
    font-size: 17px;
    font-family: 'PFDinDisplayPro';
    font-weight: 400;
    color: #393744;
    line-height: 38px;
}

.br-mobile {
    display: none;
}

.br-tablet {
    display: none;
}

.flats_info_plan .h3-plan+a {
    text-decoration: none;
}

.flats_info {
    padding: 128px 0 99px;
    background: url(../img/bg_text_1920.png) center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.flats_info p {
    max-width: 1030px;
    padding: 0 30px;
    margin: 0 auto;
}

.flats_info .btn {
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -145px;
}

.flats_info_1 {
    background: url(../img/bg_ipoteka_1920.png) center no-repeat;
    background-size: cover;
    height: 910px;
    position: relative;
}

.flats_ipotek {
    position: absolute;
    left: 50%;
    top: 285px;
    margin-left: -745px;
    width: 410px;
    height: 230px;
    padding: 60px 0 0 93px;
    text-align: left;
    font-weight: 500;
    font-size: 64px;
    line-height: 1;
    color: #fff;
    background: #009de8;
}

.flats_ipotek_small {
    display: block;
    font-size: 33px;
    margin-top: 12px;
}

.flats_ipotek_ins {
    position: absolute;
    left: 267px;
    top: 140px;
    width: 314px;
    height: 158px;
    background: #ffaf00;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    line-height: 152px;
}

.block_3 {
    padding-top: 94px;
}

.block_3 h3 {
    text-align: center;
}

.block_3 .swiper-container {
    margin-top: 80px;
}

.block_3 .swiper-slide {
    position: relative;
}

.block_3 .swiper-slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 27, 56, 0.6);
}

.block_3 .swiper-slide-active:before {
    opacity: 0;
}

.block_3 .swiper-slide img {
    height: 700px;
}

.block_3 .swiper-pagination {
    bottom: 38px;
    height: 17px;
}

.block_3 .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: none;
    border: 2px solid #fff;
    vertical-align: middle;
    opacity: 1;
}

.block_3 .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;
    margin: 0 4px;
    background: #ffb100;
    border-color: #ffb100;
    position: relative;
    top: 0;
}

.block_3 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.block_3 .swiper-button-next,
.block_3 .swiper-button-prev {
    width: 173px;
    height: 100%;
    background-size: auto;
    margin-top: 0;
    top: 0;
}

.block_3 .swiper-button-next {
    right: calc(25% - 173px);
    background: none;
}

.block_3 .swiper-button-next:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40px;
    width: 21px;
    height: 36px;
    margin-top: -18px;
    background-image: url(../img/icon_str_r.png);
    z-index: 1;
}

.block_3 .swiper-button-prev {
    left: calc(25% - 173px);
    background: none;
}

.block_3 .swiper-button-prev:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    width: 21px;
    height: 36px;
    margin-top: -18px;
    background-image: url(../img/icon_str_l.png);
    z-index: 1;
}

.block_3 .swiper-button-disabled {
    opacity: 1;
}

.block_4 {
    padding-top: 106px;
    text-align: center;
}

.block_4 address {
    max-width: 720px;
    margin: 2px auto 42px;
    line-height: 30px;
}

.block_4 .btn {
    margin: 0 auto;
}

.map_block {
    min-height: 500px;
    margin-top: 120px;
    position: relative;
}

.map_block .nav {
    display: none;
}

.map_block #how {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 30px;
    width: 410px;
}

.map_block .panel-group,
.map_block .panel+.panel {
    margin: 0;
}

.map_block .panel {
    border-radius: 0;
    background: #f4f3f1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    text-align: left;
    font-size: 14px;
}

.map_block .panel:nth-child(even) {
    background: #fff;
}

.map_block .panel:nth-child(even) .panel-heading a:after {
    background-color: #009de8;
}

.map_block .panel-heading {
    padding: 0;
    position: relative;
}

.map_block .panel-heading a {
    display: block;
    height: 40px;
    padding: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

.map_block .panel-heading a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon_str_top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0286c5;
}

.map_block a[aria-expanded="true"] {
    background: #0286c5;
    font-size: 20px;
    font-weight: normal;
    line-height: 60px;
    color: #fff;
}

.map_block a[aria-expanded="true"]:after {
    background-image: url(../img/icon_close.png)
}

.map_block .panel:nth-child(even) a[aria-expanded="true"] {
    background: #009de8;
}

.map_block .panel-body {
    padding: 15px 15px 15px 30px;
    border: none !important;
    font-size: 14px;
    line-height: 20px;
    background: #0286c5;
    color: #fff;
}

.map_block .panel:nth-child(even) .panel-body {
    background: #009de8;
}

.map_block .panel_scroll {
    max-height: 160px;
    padding-right: 15px;
    position: relative;
}

.view_map {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dashed #0287c6;
    color: #0287c6;
    display: none;
}

.view_map:hover {
    border-color: transparent;
}


#map {
    height: 500px;
}

#map:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: url(../img/bg_shadow_map.png) left top repeat-x;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Sticker {
    position: absolute;
    display: block;
    right: 30px;
    top: 100px;
    width: 200px;
    color: #fff!important;
    text-align: center;
    text-decoration: none!important;
    line-height: 1.4;
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.Sticker_col {
    width: 85%;
    margin: 0 auto;
    background: #009de8;
    position: relative;
    padding: 12px 10px 10px;
}

.Sticker_col-tale {
    min-height: 30px;
}

.Sticker_title {
    font-weight: 700;
}

@media (max-width: 1023px) {
    .Sticker {
        width: 180px;
        right: 50%;
        top: auto;
        bottom: 30px;
        margin-right: -90px;
        font-size: 11px;
    }

    .Sticker_title>br {
        display: none;
    }

    .Sticker_col-tale {
        min-height: 20px;
    }
}





/*.Sticker_subtitle{
    font-weight: 400;
}*/

.Sticker_ribbon {
    background-color: #ffb900;
    position: relative;
    padding: 10px;
    z-index: 20;
    font-weight: 700;
}

.Sticker_ribbon:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 8px;
    width: 100%;
    left: 0;
    background: url(../img/sticker_ribbon_corners.png) center no-repeat;
    background-size: 100% 100%;
}


/*add 08112017*/

#hd .phone {
    text-decoration: none;
    color: #fff;
}


/* НАЧАЛО Таймер акции */

.b-actime__tips-wrap:before,
.b-actime__digits-wrap:before,
.b-actime__tips-wrap:after,
.b-actime__digits-wrap:after {
    content: " ";
    display: table;
}

.b-actime__tips-wrap:after,
.b-actime__digits-wrap:after {
    clear: both;
}

.b-actime {
    display: inline-block;
    position: absolute;
}

.b-actime__title,
.b-actime__timer {
    white-space: nowrap;
}

.b-actime__title {
    font-family: 'RobotoBlack';
    font-size: 26px;
    padding: 13px 18px 12px;
}

.b-actime__timer {
    text-align: center;
}

.b-actime__tips-wrap {
    padding: 14px 0 6px;
}

.b-actime__digits-wrap {
    margin: 0 auto;
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
}

.b-actime__tip {
    float: left;
    width: 33.33333%;
    font-weight: 700;
    font-size: 13px;
}

.b-actime__digit {
    display: inline-block;
    width: 64px;
    font-size: 57px;
    font-weight: 700;
    height: 78px;
    line-height: 77px;
    overflow-y: hidden;
    background: url(/img/plashka.png) center no-repeat;
    background-size: contain;
    color: #424242;
}

.b-actime__digit:nth-child(even) {
    margin-right: 10px;
}

.b-actime__digit:nth-child(6) {
    margin-right: 0!important;
}


/* КОНЕЦ Таймер акции */