@media screen and (max-width:1399px) {
    #ft {
        height: 104px;
        padding-top: 37px;
        line-height: 1;
    }
    .ft_copy img {
        top: -15px;
    }
    .ft_info {
        right: auto;
        left: 70px;
        top: 69px;
    }
    .ft_soc {
        margin-top: -3px;
    }

    .flats_ipotek {
        margin-left: -600px;
    }
}

@media screen and (max-width:1199px) {
    h1 {
        width: 480px;
        left: 50%;
        top: 197px;
        margin-left: -240px;
        font-size: 60px;
    }

    h1 .small {
        font-size: 20px;
        line-height: 30px;
        margin-top: 29px;
    }
    h2 {
        margin-bottom: 24px;
    }

    #hd:before {
        height: 90px;
        background: #fff;
        position: fixed;
        z-index: 89;
    }
    #hd .container {
        height: 745px;
    }
    #hd .logo {
        left: 30px;
        top: 20px;
        background-image: url(../img/logo_768.png);
        background-size: 300px auto;
        width: 300px;
        height: 45px;
        position: fixed;
        z-index: 90;
    }
    #hd .phone {
        right: 90px;
        top: 33px;
        color: #000;
        position: fixed;
        z-index: 90;
    }
    .mobil_nav_btn {
        display: block;
        position: fixed;
        z-index: 90;
    }
    .menu_top {
        display: none;
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        padding-bottom: 200px;
        background: #0286c5;
        z-index: 100;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .menu_top ul {
        position: relative;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }
    .menu_top li {
        float: none;
        margin: 0;
        font-size: 25px;
    }
    .menu_top li+li {
        margin-top: 35px;
    }
    .menu_top .btn {
        display: block;
    }
    .menu_top .close {
        opacity: 1;
        display: block;
    }
    .menu_top.in {
        top: 0;
    }
    #ft {
        padding: 43px 30px 0;
    }
    .ft_copy {
        padding-left: 138px;
    }
    .ft_copy_doc {
        margin-left: 20px;
    }
    .ft_info {
        left: 30px;
    }

    .container {
        padding: 0 30px;
    }

    .block_1 h2+p {
        max-width: 605px;
        margin-bottom: 50px;
    }
    .about_adv {
        margin-bottom: 100px;
    }
    .block_2 {
        padding-top: 100px;
    }
    .flats_list {
        margin-top: 60px;
    }
    .flats_list_item {
        margin-bottom: 150px;
    }
    .flats_ipotek {
        margin-left: -580px;
    }
    .block_4 {
        padding-top: 65px;
    }
    .map_block {
        margin-top: 80px;
    }
    .map_block #how {
        left: 30px;
        margin: 0;
    }
}

@media screen and (max-width:1023px) {

    .flats_info_plan .h3-plan {
        font-size: 38px;
    }

    .flats_info_plan .h3-plan+p {
        font-size: 20px;
    }
    .br-desktop {
        display: none;
    }
    .br-tablet {
        display: block;
    }
    .about_adv {
        top: 0;
    }
    .block_1:before {
        background: url('../img/illustration-1-tablet.png') no-repeat center;
        background-size: contain;
        top: 300px;
        left: -139px;
        height: 888px;
        width: 450px;
    }
    .block_1:after {
        background: url('../img/illustration-2-tablet.png') no-repeat center;
        background-size: contain;
        top: 288px;
        width: 330px;
        height: 905px;
    }
    .block_1__content h2 {
        font-weight: 800;
    }
    .block_1__content h2 br {
        display: block;
    }
    .button-know-more {
        margin-top: 70px;
    }

    .block_1__content {
        padding: 140px 45px 0 45px;
    }

    .text-action br {
        display: none;
    }
    .button-action {
        top: 420px;
    }
    .b-actime {
        top: 535px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    /*h1 { left:40px; top:145px;}*/
    h2,
    .h2 {
        font-size: 60px;
    }
    .h2 {
        margin-bottom: 32px;
    }

    #hd {
        background-image: url(../img/bg_768.png);
    }

    .form_order_wrap {
        background: #0286c5;
    }
    .form_order_name {
        font-size: 40px;
    }
    .form_order_wrap .close {
        display: none;
    }
    .form_order_wrap .close_1 {
        display: block;
    }

    .about_adv {
        padding: 0 35px;
        margin: 43px 0 83px;
        white-space: normal;
        text-align: left;
    }
    .about_adv li {
        width: 36%;
        height: 102px;
        margin: 0 0 25px;
        padding-left: 115px;
        position: relative;
    }
    .about_adv img {
        position: absolute;
        left: 0;
        top: 0;
    }
    .about_adv span {
        margin: 0;
        width: 110px;
        position: relative;
        top: calc(50% - 8px);
        font-size: 11px;
    }
    .about_adv_item_2,
    .about_adv_item_5 {
        width: 33% !important;
    }
    .about_adv_item_3,
    .about_adv_item_6 {
        width: 30% !important;
    }
    .about_adv_1 .col-md-6 {
        height: auto;
        background-size: auto 500px;
    }
    .about_adv_1_hover {
        position: relative;
        height: 500px;
        padding-top: 233px;
        opacity: 1;
    }
    .about_adv_1_hover_text {
        display: none;
    }
    .about_adv_1_sm_text {
        display: block;
    }
    .block_2 {
        padding-top: 70px;
    }
    .flats_list {
        margin-top: 67px;
        padding-bottom: 50px;
    }
    .flats_list_item {
        width: 50%;
        margin: 0 0 83px !important;
    }
    .flats_info {
        background-image: url(../img/bg_text_768.png);
        padding: 110px 0 230px;
    }
    .flats_info p {
        max-width: 660px;
    }
    .flats_info_1 {
        background-image: url(../img/bg_ipoteka_768.png);
        height: 605px;
        margin-top: 55px;
    }
    .flats_ipotek {
        left: 0;
        top: -137px;
        margin: 0;
        width: 50%;
        height: 174px;
        padding: 27px 0 0 88px;
    }
    .flats_ipotek_small {
        font-size: 38px;
        margin-top: 9px;
    }
    .flats_ipotek_ins {
        left: calc(100% - 34px);
        top: 51px;
        width: calc(100% + 34px);
        height: 158px;
        padding-left: 42px;
        text-align: left;
    }
    .block_3 {
        padding-top: 68px;
    }
    .block_3 h3 {
        margin-bottom: 41px;
    }
    .block_3 .swiper-container {
        margin-top: 10px;
    }
    .block_3 .swiper-slide img {
        height: 432px;
    }
    .block_3 .swiper-button-next {
        right: 0;
    }
    .block_3 .swiper-button-next:before {
        left: auto;
        right: 20px;
    }
    .block_3 .swiper-button-prev {
        left: 0;
    }
    .block_3 .swiper-button-prev:before {
        left: 20px;
        right: auto;
    }
    .block_4 address {
        max-width: 630px;
    }
    .map_block {
        min-height: 0;
        overflow: hidden;
    }
    .map_block:before {
        display: none;
    }
    .map_block .nav {
        display: block;
        border: none;
    }
    .map_block .nav-tabs>li {
        width: 50%;
        text-align: center;
    }
    .map_block .nav-tabs>li>a {
        margin: 0;
        padding: 0;
        height: 43px;
        line-height: 43px;
        font-weight: 500;
    }
    .map_block .nav-tabs>li.active>a,
    .map_block .nav-tabs>li.active>a:hover,
    .map_block .nav-tabs>li.active>a:focus {
        border: none;
        border-radius: 0;
        font-size: 17px;
        background: #0395d9;
        color: #fff;
    }
    .map_block #map {
        height: 400px;
    }
    .map_block #how {
        display: none;
        position: relative;
        left: 0;
        bottom: 0;
        margin-left: 0;
        width: auto;
    }
    .map_block #how.active {
        display: block;
    }
    .map_block a[aria-expanded="true"] {
        background: #f4f3f1;
        color: #000;
    }
    .map_block a[aria-expanded="true"]:after {
        background-color: #f4f3f1;
        background-image: url(../img/icon_close_blue.png);
    }
    .map_block .panel:nth-child(even) a[aria-expanded="true"] {
        background: #fff;
    }
    .map_block .panel:nth-child(even) a[aria-expanded="true"]:after {
        background-color: #fff;
    }
    .map_block .panel-body {
        background: #f4f3f1;
        color: #000;
    }
    .map_block .panel:nth-child(even) .panel-body {
        background: #fff;
    }
    .map_block .panel_scroll {
        max-height: none;
    }
    .view_map {
        display: inline-block;
    }
}

@media screen and (max-width:767px) {

    .br-tablet {
        display: none;
    }

    .br-mobile {
        display: block;
    }

    .flats_info_plan {}

    .flats_info_plan .h3-plan {
        font-size: 22px;
        line-height: 29px;
    }

    .flats_info_plan .h3-plan+p {
        font-size: 17px;
        line-height: 35px;
    }

    .button-know-more {
        margin-top: 120px;
    }

    #bd .block_1__content {
        padding-top: 95px !important;
    }

    .block_1:before {
        background: url('../img/illustration-1-mobile.png') no-repeat center;
        top: 569px;
        left: -181px;
    }

    .block_1:after {
        background: url('../img/illustration-2-mobile.png') no-repeat center;
        top: 550px;
        right: -112px;
    }

    #bd .block_1__content h2 {
        font-size: 22px !important;
        line-height: 28px !important;
    }
    #bd .text-action {
        font-size: 18px !important;
        line-height: 22px !important;
    }
    #bd .button-action {
        top: 280px;
        width: 280px;
        height: 59px;
        font-size: 18px;
        line-height: 23px;
    }
    .b-actime {
        top: 355px;
        left: 50%;
        -webkit-transform: translateX(-50%) scale(0.6);
        -ms-transform: translateX(-50%) scale(0.6);
        transform: translateX(-50%) scale(0.6);
    }
    .b-actime__tip {

        font-size: 23px;
    }
    #bd .block_1__content {
        padding: 0 5px;
    }
    input[type=submit],
    input[type=button] {
        width: 274px;
    }

    h1 {
        top: 110px;
        width: 320px;
        margin-left: -160px;
        font-size: 35px;
    }
    h1 .small {
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 24px;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .h2 .small {
        font-size: 18px;
        margin-bottom: 16px;
    }
    h3 {
        font-size: 40px;
        line-height: 50px;
        padding: 0;
    }

    #hd {
        background-image: url(../img/bg_320.png);
    }
    #hd:before {
        height: 70px;
    }
    #hd .container {
        height: 568px;
    }
    #hd .logo {
        left: 50%;
        top: 12px;
        margin-left: -56px;
        background-image: url(../img/logo_320.png);
        background-size: 111px auto;
        width: 111px;
        height: 50px;
    }
    #hd .phone {
        right: 20px;
        top: 21px;
        font-size: 0;
        line-height: 0;
        background: url(../img/icon_phone.png) center no-repeat;
        width: 30px;
        height: 29px;
    }
    #hd .phone .small {
        font-size: 0;
        line-height: 0;
    }
    .mobil_nav_btn {
        right: auto;
        left: 23px;
        top: 22px;
        width: 30px;
        height: 26px;
    }
    .mobil_nav_btn:before {
        top: 7px;
    }
    .menu_top {
        padding-bottom: 140px;
    }
    .menu_top li {
        font-size: 18px;
    }
    .menu_top li+li {
        margin-top: 22px;
    }
    .menu_top .btn {
        bottom: 38px;
    }
    .menu_top .close {
        right: auto;
        left: 23px;
        top: 20px;
    }
    #ft {
        height: 225px;
        padding: 39px 23px 0;
        text-align: center;
        font-size: 12px;
    }
    .ft_copy {
        float: none;
        padding: 35px 0 0;
        margin-bottom: 13px;
    }
    .ft_copy img {
        left: 50%;
        top: 0;
        margin-left: -59px;
    }
    .ft_copy_doc {
        margin: 16px 0 0;
    }
    .ft_soc {
        float: none;
        margin-top: 12px;
    }
    .ft_soc a {
        margin: 0 8px;
    }
    .ft_info {
        position: relative;
        right: auto;
        left: 0;
        top: 0;
        line-height: 20px;
    }

    .container {
        padding: 0 20px;
    }
    .btn {
        width: 274px;
    }

    .form_order {
        max-width: 320px;
        padding: 65px 23px;
    }
    .form_order_name {
        font-size: 22px;
    }
    .form_order .row.captcha {
        margin: -5px -14px 30px;
    }
    .form_order_wrap .close_1 {
        right: auto;
        left: 23px;
        top: 20px;
    }

    .about_adv {
        width: 320px;
        margin: 42px auto 87px;
        padding: 0 20px;
    }
    .about_adv li {
        display: block;
        width: 100% !important;
        margin: 0 0 12px;
        padding-left: 116px;
        font-size: 12px;
    }
    .about_adv span {
        width: auto;
    }
    .block_1 h2+p {
        padding: 0 19px;
        margin-bottom: 55px;
    }
    .about_adv_1 .col-md-6 {
        background-size: auto 430px;
    }
    .about_adv_1_hover {
        height: 430px;
        padding: 150px 30px 0;
        font-size: 30px;
        line-height: 40px;
    }
    .about_adv_1_hover img {
        height: 97px;
        margin-bottom: 23px;
    }
    .about_adv_1_sm_text {
        padding: 28px 19px 47px;
    }
    .block_2 {
        padding-top: 29px;
    }
    .flats_list {
        margin-top: 37px;
        padding-bottom: 65px;
    }
    .flats_list_item {
        width: 100%;
        margin: 0 0 67px !important;
    }
    .flats_list_img {
        height: auto;
        line-height: 1;
    }
    .flats_list_img img {
        max-width: 280px;
    }
    .flats_info {
        background-image: url(../img/bg_text_320.png);
        padding: 90px 0;
    }
    .flats_info p {
        padding: 0 19px;
    }
    .flats_info .btn {
        margin-left: -137px;
    }
    .flats_info_1 {
        height: 380px;
        margin: 0;
        background-image: url(../img/bg_ipoteka_320.png);
    }
    .flats_ipotek {
        top: -34px;
        width: calc(50% + 10px);
        height: 79px;
        padding: 15px 0 0 34px;
        font-size: 23px;
        font-weight: bold;
    }
    .flats_ipotek_small {
        font-size: 23px;
    }
    .flats_ipotek_ins {
        left: calc(100% - 24px);
        top: 22px;
        width: calc(100% + 14px);
        height: 77px;
        font-size: 40px;
        line-height: 77px;
        padding-left: 23px;
    }
    .block_3 {
        padding-top: 72px;
    }
    .block_3 h3 {
        margin-bottom: 33px;
    }
    .block_3 .tab_item {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .block_3 .swiper-container {
        margin-top: -5px;
        padding-bottom: 33px;
    }
    .block_3 .swiper-slide img {
        height: 220px;
    }
    .block_3 .swiper-button-next {
        right: 0;
        width: 30px;
        background: none;
    }
    .block_3 .swiper-button-next:before {
        left: auto;
        right: 10px;
        width: 10px;
        height: 18px;
        margin-top: -24px;
        background-size: contain;
    }
    .block_3 .swiper-button-prev {
        left: 0;
        width: 30px;
        background: none;
    }
    .block_3 .swiper-button-prev:before {
        left: 10px;
        right: auto;
        width: 10px;
        height: 18px;
        margin-top: -24px;
        background-size: contain;
    }
    .block_3 .swiper-pagination {
        bottom: 7px;
    }
    .block_3 .swiper-pagination-bullet {
        border-color: #4d4b57;
    }
    .block_3 .swiper-pagination-bullet-active {
        border-color: #ffae00;
    }
    .block_4 {
        padding-top: 62px;
    }
    .block_4 address {
        padding: 0 20px;
        margin: -10px auto 30px;
    }
    .block_4 address .phone {
        display: block;
    }
    .map_block {
        margin-top: 37px;
    }
    .map_block .panel-heading a {
        font-size: 15px;
    }
    .map_block a[aria-expanded="true"] {
        font-size: 15px;
        font-weight: 500;
        line-height: 40px;
    }
}

@media screen and (max-width:767px) and (max-height:400px) {
    .menu_top {
        padding-bottom: 90px;
    }
    .menu_top .btn {
        bottom: 20px;
    }
}

@media screen and (max-height:735px) {
    .form_order {
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}